<form class="{{cssClass}} actor-sheet" autocomplete="off">

  <section id="name-alias" class="flex-horizontal">

    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

    <div class="grow-two">
      <div id="name">
        <label for="character-{{actor._id}}-name">{{localize "BITD.Name"}}</label>
        <input type="text" id="character-{{actor._id}}-name" name="name" value="{{actor.name}}">
      </div>

      <div id="character-traits" class="flex-column">
  		  <div class="item-block flex-horizontal">
          <div class="item-class-label">
            <a class="item-add-popup" data-distinct="true" data-item-type="class">{{localize "BITD.Class"}}</a>
          </div>
          {{#each actor.items as |item id|}}
            {{#if (eq item.type "class")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body flex-horizontal">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <div class="attribute-skill-label tooltip" data-roll-attribute="{{item.name}}">
                    <a class="item-name">{{item.name}}</a>
                    <span class="tooltiptext">{{{item.data.description}}}<br />{{localize "BITD.ClassExpClueDescription"}}<br />{{localize "BITD.ClassExpClue2"}}<br />{{localize "BITD.ClassExpClue3"}}<br />{{item.data.experience_clues}}</span>
                  </div>
                </div>
                <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
            {{/if}}
          {{/each}}
        </div>

        {{#if (or (eq actor.data.class "Rookie") (eq actor.data.class "Soldier") )}}
        <div class="item-block flex-horizontal">
          <div class="item-class-label">
            <a class="item-add-popup" data-distinct="true" data-item-type="squad">{{localize "BITD.Squad"}}</a>
          </div>
          {{#each actor.items as |item id|}}
            {{#if (eq item.type "squad")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body flex-horizontal">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <div class="attribute-skill-label tooltip" data-roll-attribute="{{item.name}}">
                    <a class="item-name">{{item.name}}</a>
                    <span class="tooltiptext">{{{item.data.description}}}</span>
                  </div>
                </div>
                <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
            {{/if}}
          {{/each}}
        </div>
        {{/if}}

        <div class="item-block flex-horizontal">
          <div class="item-class-label">
            <a class="item-add-popup" data-distinct="true" data-item-type="heritage">{{localize "BITD.Heritage"}}</a>
          </div>
          {{#each actor.items as |item id|}}
            {{#if (eq item.type "heritage")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body flex-horizontal">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <div class="attribute-skill-label tooltip" data-roll-attribute="{{item.name}}">
                    <a class="item-name">{{item.name}}</a>
                    <span class="tooltiptext">{{{item.data.description}}}</span>
                  </div>
                </div>
                <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
            {{/if}}
          {{/each}}
        </div>

        <div class="item-block flex-horizontal">
          <div class="item-class-label">
            <a class="item-add-popup" data-item-type="traits">{{localize "BITD.Traits"}}</a>
          </div>
          <div class="flex-vertical">
            {{#each actor.items as |item id|}}
              {{#if (eq item.type "trait")}}
                <div class="flex-vertical">
                  <div class="item flex-horizontal" data-item-id="{{item._id}}">
                    <div class="item-body flex-horizontal">
                      <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                      <div class="attribute-skill-label tooltip" data-roll-attribute="{{item.name}}">
                        <a class="item-name">{{item.name}}</a>
                        <span class="tooltiptext">{{{item.data.shortdesc}}}</span>
                      </div>
                    </div>
                    <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                    <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
                  </div>
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
	    </div>
    </div>

    <div class="grow-two">
      <div id="alias">
        <label for="character-{{actor._id}}-alias">{{localize "BITD.Alias"}}</label>
        <input type="text" id="character-{{actor._id}}-alias" name="data.alias" value="{{data.alias}}">
      </div>

	    <div id="look">
        <label for="character-{{actor._id}}-look">{{localize "BITD.Look"}}</label>
        <input type="text" id="character-{{actor._id}}-look" name="data.look" value="{{data.look}}">
      </div>
    </div>
  </section>
  <section id="stress-trauma-section">
    {{!-- Stress and Trauma --}}
    <div id="stress-trauma" class="section big-teeth-section">
      <div id="character-{{actor._id}}-stress" class="big-teeth">
        {{#multiboxes data.stress.value}}
          <input type="radio" id="character-{{actor._id}}-stress-0" name="data.stress.value" value="0" dtype="Radio">
          <div id="stress-vice">
            <label class="black-label" for="character-{{actor._id}}-stress-0">{{localize data.stress.name}}</label>
          </div>
          {{#times_from_1 data.stress.max}}
            <input type="radio" id="character-{{../actor._id}}-stress-{{this}}" name="data.stress.value" value="{{this}}" dtype="Radio">
            <label for="character-{{../actor._id}}-stress-{{this}}"></label>
          {{/times_from_1}}
        {{/multiboxes}}
      </div>
      <div id="character-{{actor._id}}-trauma-container" class="small-teeth-container">
        {{#traumacounter data.trauma.list}}
          <div id="character-{{actor._id}}-trauma" class="small-teeth-wrap">
            <label class="black-label" for="character-{{actor._id}}-trauma-counter-0">{{localize data.trauma.name}}</label>
            <div id="trauma-teeth" class="small-teeth">
              <input type="radio" id="character-{{actor._id}}-trauma-counter-0" name="data.trauma.value" value="0">
              {{#times_from_1 data.trauma.max}}
                <input type="radio" id="character-{{../actor._id}}-trauma-counter-{{this}}" name="data.trauma.value" value="{{this}}" disabled>
                <label for="character-{{../actor._id}}-trauma-counter-{{this}}"></label>
              {{/times_from_1}}
            </div>
          </div>
        {{/traumacounter}}
      </div>

      <div id="trauma-list">
        {{#each data.trauma.list}}
          <div class="tooltip">
            <span class="tooltiptext bottom">{{{localize (concat "BITD.Trauma" (pcase @key) "Tip")}}}</span>
            <label>
              <input type="checkbox" name="data.trauma.list.{{@key}}" value="{{@key}}" {{checked (lookup ../data.trauma.list @key)}}>
              <span class="checkmark">{{localize (concat "BITD.Trauma" (pcase @key))}}</span>
            </label>
          </div>
        {{/each}}
      </div>
    </div>

    {{!-- Corruption and Blight --}}
    <div id="corruption-blight" class="section big-teeth-section">
      <div id="character-{{actor._id}}-corruption" class="big-teeth">
        {{#multiboxes data.corruption.value}}
          <input type="radio" id="character-{{actor._id}}-corruption-0" name="data.corruption.value" value="0" dtype="Radio">
          <div id="corruption">
            <label class="black-label" for="character-{{actor._id}}-corruption-0">{{localize data.corruption.name}}</label>
          </div>
          {{#times_from_1 data.corruption.max}}
            <input type="radio" id="character-{{../actor._id}}-corruption-{{this}}" name="data.corruption.value" value="{{this}}" dtype="Radio">
            <label for="character-{{../actor._id}}-corruption-{{this}}"></label>
          {{/times_from_1}}
        {{/multiboxes}}
      </div>
      <div id="character-{{actor._id}}-blight-container" class="small-teeth-container">
        {{#traumacounter data.blight.list}}
          <div id="character-{{actor._id}}-blight" class="small-teeth-wrap">
            <label class="black-label" for="character-{{actor._id}}-blight-counter-0">{{localize data.blight.name}}</label>
            <div id="blight-teeth" class="small-teeth">
              <input type="radio" id="character-{{actor._id}}-blight-counter-0" name="data.blight.value" value="0">
              {{#times_from_1 data.blight.max}}
                <input type="radio" id="character-{{../actor._id}}-blight-counter-{{this}}" name="data.blight.value" value="{{this}}" disabled>
                <label for="character-{{../actor._id}}-blight-counter-{{this}}"></label>
              {{/times_from_1}}
            </div>
          </div>
        {{/traumacounter}}
      </div>

      <div id="blight-list">
        {{#each data.blight.list}}
          <div class="tooltip">
            <span class="tooltiptext bottom">{{{localize (concat "BITD.Blight" (pcase @key) "Tip")}}}</span>
            <label>
              <input type="checkbox" name="data.blight.list.{{@key}}" value="{{@key}}" {{checked (lookup ../data.blight.list @key)}}>
              <span class="checkmark">{{localize (concat "BITD.Blight" (pcase @key))}}</span>
            </label>
          </div>
        {{/each}}
      </div>
    </div>
  </section>
  {{!-- Harm, Healing and Armor --}}
  <section id="harm-armor">
    <div id="character-harm">
      <table>
        <thead>
          <th class="black-white" colspan="4">{{localize "BITD.Harm"}}</th>
          <th class="black-white">{{localize "BITD.Healing"}}</th>
          <th class="black-white">{{localize "BITD.Armor"}}</th>
        </thead>
        <tbody>
          <tr>
            <td class="harm-header">3</td>
            <td colspan="2">
              <input type="text" id="character-{{actor._id}}-harm-3-1" name="data.harm.heavy.one" value="{{data.harm.heavy.one}}">
            </td>
            <td>{{localize "BITD.NeedHelp"}}</td>
            <td id="character-healing-heavy" class="healing-checkboxes">
              <div>
                <input id="healing-uses-heavy-one-{{actor._id}}" type="checkbox" name="data.harm.heavy.heal_one" {{checked data.harm.heavy.heal_one}}>
                <label for="healing-uses-heavy-one-{{actor._id}}"></label>
              </div>
              <div>
                <input id="healing-uses-heavy-two-{{actor._id}}" type="checkbox" name="data.harm.heavy.heal_two" {{checked data.harm.heavy.heal_two}}>
                <label for="healing-uses-heavy-two-{{actor._id}}"></label>
              </div>
              <div>
                <input id="healing-uses-heavy-three-{{actor._id}}" type="checkbox" name="data.harm.heavy.heal_three" {{checked data.harm.heavy.heal_three}}>
                <label for="healing-uses-heavy-three-{{actor._id}}"></label>
              </div>
            </td>
            <td rowspan="3" id="character-armor-uses">
              <div>
                <div class="armor-checkboxes">
                  <div>{{localize "BITD.Armor"}}</div>
                  <input id="armor-uses-armor-{{actor._id}}" type="checkbox" name="data.armor-uses.armor" {{checked data.armor-uses.armor}}>
                  <label for="armor-uses-armor-{{actor._id}}"></label>
                </div>
                <div class="armor-checkboxes">
                  <div>{{localize "BITD.Heavy"}}</div>
                  <input id="armor-uses-heavy-{{actor._id}}" type="checkbox" name="data.armor-uses.heavy" {{checked data.armor-uses.heavy}}>
                  <label for="armor-uses-heavy-{{actor._id}}"></label>
                </div>
                <div class="armor-checkboxes">
                  <div>{{localize "BITD.Shield"}}</div>
                  <input id="armor-uses-shield-{{actor._id}}" type="checkbox" name="data.armor-uses.shield" {{checked data.armor-uses.shield}}>
                  <label for="armor-uses-shield-{{actor._id}}"></label>
                </div>
                <div class="armor-checkboxes">
                  <div>{{localize "BITD.Special"}}</div>
                  <input id="armor-uses-special-{{actor._id}}" type="checkbox" name="data.armor-uses.special" {{checked data.armor-uses.special}}>
                  <label for="armor-uses-special-{{actor._id}}"></label>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="harm-header">2</td>
            <td>
              <input type="text" id="character-{{actor._id}}-harm-2-1" name="data.harm.medium.one" value="{{data.harm.medium.one}}">
            </td>
            <td>
              <input type="text" id="character-{{actor._id}}-harm-2-2" name="data.harm.medium.two" value="{{data.harm.medium.two}}">
            </td>
            <td>-1d</td>
            <td id="character-healing-medium" class="healing-checkboxes">
              <div>
                <input id="healing-uses-medium-one-{{actor._id}}" type="checkbox" name="data.harm.medium.heal_one" {{checked data.harm.medium.heal_one}}>
                <label for="healing-uses-medium-one-{{actor._id}}"></label>
              </div>
              <div>
                <input id="healing-uses-medium-two-{{actor._id}}" type="checkbox" name="data.harm.medium.heal_two" {{checked data.harm.medium.heal_two}}>
                <label for="healing-uses-medium-two-{{actor._id}}"></label>
              </div>
            </td>
          </tr>
          <tr>
            <td class="harm-header">1</td>
            <td>
              <input type="text" id="character-{{actor._id}}-harm-1-1" name="data.harm.light.one" value="{{data.harm.light.one}}">
            </td>
            <td>
              <input type="text" id="character-{{actor._id}}-harm-1-2" name="data.harm.light.two" value="{{data.harm.light.two}}">
            </td>
            <td>{{localize "BITD.LessEffect"}}</td>
            <td id="character-healing-light" class="healing-checkboxes">
              <div>
                <input id="healing-uses-light-one-{{actor._id}}" type="checkbox" name="data.harm.light.heal_one" {{checked data.harm.light.heal_one}}>
                <label for="healing-uses-light-one-{{actor._id}}"></label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  {{!-- Abilities and Loadout --}}
  <section id="attributes-section" class="flex-horizontal">

    <div class="tab-content flex-vertical grow-two">
      {{!-- Nav menu --}}
      <nav class="tabs flex-horizontal">
        <a class="item" data-tab="abilities">{{localize "BITD.Abilities"}}</a>
        <a class="item" data-tab="loadout">{{localize "BITD.Loadout"}}</a>
        <a class="item" data-tab="character-notes">{{localize "BITD.Notes"}}</a>
        {{#if isGM}}
          <a class="item" data-tab="effects">{{localize "BITD.Effects"}}</a>
          <a class="item" data-tab="all-character-items">{{localize "BITD.AllItems"}}</a>
        {{/if}}
      </nav>

      <div id="abilities" class="tab flex-vertical" data-tab="abilities">
        <div class="label-stripe">
          <p>
            <label for="character-{{actor._id}}-experience-0">{{localize "BITD.Abilities"}}</label>
            <a class="item-add-popup" data-item-type="ability" data-limiter=data.character_class><i class="fas fa-plus-square"></i></a>
          </p>
          <div id="character-experience" class="teeth-experience tooltip">
			      <label for="character-{{actor._id}}-experience-0">{{localize "BITD.PExperience"}}<i class="fab fa-creative-commons-zero nullifier"></i>
              <span class="tooltiptext left">{{localize "BITD.ClassExpClueDescription"}}<br />{{localize "BITD.ClassExpClue2"}}<br />{{localize "BITD.ClassExpClue3"}}<br />
                {{#each actor.items as |item id|}}
                  {{#if (eq item.type "class")}}
                    {{item.data.experience_clues}}
                  {{/if}}
                {{/each}}
              </span>
            </label>
            {{#multiboxes data.experience}}
              <input type="radio" id="character-{{actor._id}}-experience-0" name="data.experience" value="0" dtype="Radio">
              {{#times_from_1 data.experienceMax}}
                <input type="radio" id="character-{{../actor._id}}-experience-{{this}}" name="data.experience" value="{{this}}" dtype="Radio">
                <label for="character-{{../actor._id}}-experience-{{this}}"></label>
              {{/times_from_1}}
            {{/multiboxes}}
          </div>
        </div>

        <div id="abilities-list">
          {{#each actor.items as |item id|}}
            {{#if (eq item.type "ability")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body flex-horizontal">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
				          <a class="item-name">{{item.name}}</a>
                  <div class="item-description">{{item.data.description}}</div>
                </div>
                <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
            {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="ability">{{localize "BITD.AddAbility"}}</a></div>
        </div>
      </div>

      {{!-- Owned Items Tab --}}
      <div id="loadout" class="tab flex-vertical" data-tab="loadout">

		    <span class="label-stripe flex-horizontal">
          <span>
            <label>{{localize "BITD.Loadout"}} </label>
            <a class="item-add-popup" data-item-type="item"><i class="fas fa-plus-square"></i></a>
          </span>
          <div class="utility" {{#if (gt data.loadout.current data.loadout.utility)}}style="color: red"{{/if}}>{{data.loadout.current}} / {{data.loadout.utility}} <span>{{localize "BITD.Utility"}}</span></div>
          <span class="dropdown">
            <select name="data.loadout.selected_load_level">
              {{selectOptions load_levels selected=data.loadout.selected_load_level localize=true}}
            </select>
          </span>
        </span>
        <div id="loadout-list">
          {{#each actor.items as |item id|}}
            {{#if (eq item.type "item")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body flex-horizontal">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <div class="flex-vertical">
                    <div><a class="item-name">{{item.name}}</a></div>
                    {{#if (gt item.data.uses 0)}}
                      <div class="uses-select">
                        <span>{{localize "BITD.Uses"}}</span>
                        {{#if (lookup2 ../actor.flags.band-of-blades.items item._id 'usagesArray')}}  {{!-- Needed because array is created in onCreate() after first pass of sheet re-render and array can't be created in preCreate() --}}
                          <select id="itemuses-{{item._id}}" name="flags.band-of-blades.items.{{item._id}}.usages" data-dtype="String">{{selectOptions (lookup2 ../actor.flags.band-of-blades.items item._id 'usagesArray') selected=(lookup2 ../actor.flags.band-of-blades.items item._id 'usages') localize=true}}</select>
                        {{/if}}
                      </div>
                    {{/if}}
                  </div>
                  <div class="item-description">{{item.data.description}}</div>
                </div>
                <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
            {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="item">{{localize "BITD.AddItem"}}</a></div>
          <div class="item-class-label"><a class="item-delete-all" data-item-type="item">{{localize "BITD.DeleteAllLoadout"}}</a></div>
        </div>
      </div>

      <div class="tab flex-vertical" data-tab="character-notes">
        <div class="label-stripe">
          <p><label>{{localize "BITD.Notes"}}</label></p>
        </div>
        <div class="description">
          {{{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}}
          {{#if editable}}
            <button type="submit" name="submit"><i class="fas fa-feather-alt"></i> {{localize "JOURNAL.Submit"}}</button>
          {{/if}}
        </div>
      </div>

      {{!-- Active Effects --}}
      <div id="effects" class="tab effects flex-vertical" data-tab="effects">
        <div class="label-stripe">
          <p><label>{{localize "BITD.Effects"}}</label></p>
        </div>
        {{> "systems/band-of-blades/templates/parts/active-effects.html"}}
      </div>

      {{!-- Full Item List --}}
      <div id="all-items" class="tab grow-two flex-vertical" data-tab="all-character-items">
        <div class="label-stripe">
          <p><label>{{localize "BITD.AllItems"}}</label></p>
        </div>
        {{#each actor.items as |item id|}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body item-sheet-open flex-horizontal">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              <a class="item-name">{{item.name}}</a>
            </div>
            <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
            <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
          </div>
        {{/each}}
      </div>
    </div>
    {{!-- Attributes --}}
    <div id="attributes">
      {{#each data.attributes as |attribute attribute_name|}}
        {{#unless (eq attribute_name "specialist")}}
          <div id="attributes-{{attribute_name}}" class="attribute">
            <div id="attributes-{{attribute_name}}-title" class="attributes-exp">
              <div class="stripe">
                <a class="attribute-label macroable roll-die-attribute rollable-text tooltip" data-roll-attribute="{{attribute_name}}">{{localize (concat attribute.label 'Short')}}<span class="tooltiptext left">{{{localize attribute.tip}}}</span></a>
              </div>
              <div class="stripe-tooth-body-blue">
                {{#multiboxes attribute.exp}}
                  <label for="{{../actor._id}}-{{attribute_name}}-exp-0">{{localize "BITD.AExperience"}}<i class="fab fa-creative-commons-zero nullifier"></i></label>
                  <input type="radio" id="{{../actor._id}}-{{attribute_name}}-exp-0" name="data.attributes.{{attribute_name}}.exp" value="0" checked="checked">
                  {{#times_from_1 attribute.expMax}}
                    <input type="radio" id="{{../../actor._id}}-{{attribute_name}}-exp-{{this}}" name="data.attributes.{{attribute_name}}.exp" value="{{this}}">
                    <label for="{{../../actor._id}}-{{attribute_name}}-exp-{{this}}"></label>
                  {{/times_from_1}}
                {{/multiboxes}}
              </div>
            </div>

            {{!-- Skills --}}

            {{!-- move specialist skill specific to class into Insight category --}}
            <div class="flex-horizontal">
              {{#if (gt (lookup2 ../data.attributes.specialist.skills ../data.item_triggers.spec_skill 'max') 0)}}
                {{#if (eq attribute_name "insight")}}
                <div class="attributes-container">
                  {{#multiboxes (lookup2 ../data.attributes.specialist.skills ../data.item_triggers.spec_skill 'value')}}
                    <div class="attribute-stats">
                      {{#times_from_0 (lookup2 ../data.attributes.specialist.skills ../data.item_triggers.spec_skill 'max')}}
                        <input type="radio" id="attributes-{{../../actor._id}}-{{../../data.item_triggers.spec_skill}}-{{this}}" name="data.attributes.specialist.skills.{{../../data.item_triggers.spec_skill}}.value" value="{{this}}">
                        <label for="attributes-{{../../actor._id}}-{{../../data.item_triggers.spec_skill}}-{{this}}"></label>
                      {{/times_from_0}}
                    </div>
                    <div class="attribute-skill-label tooltip">{{localize (lookup2 ../data.attributes.specialist.skills ../data.item_triggers.spec_skill 'label')}}<span class="tooltiptext bottom">{{{localize (lookup2 ../data.attributes.specialist.skills ../data.item_triggers.spec_skill 'tip')}}}<br />{{localize "BITD.SkillsSpecialistTip"}}</span></div>
                    <div class="skill-select">
                      <span>{{localize "BITD.Uses"}}</span>
                      <select id="skilluses-{{../data.item_triggers.spec_skill}}-{{../actor._id}}" name="data.attributes.specialist.skills.{{../data.item_triggers.spec_skill}}.usagesIndex">{{selectOptions (lookup2 ../data.attributes.specialist.skills ../data.item_triggers.spec_skill 'usagesArray') selected=(lookup2 ../data.attributes.specialist.skills ../data.item_triggers.spec_skill 'usagesIndex') localize=true}}</select>
                    </div>
                  {{/multiboxes}}
                </div>
                {{/if}}
              {{/if}}
            </div>

            {{#each attribute.skills as |skill skill_name|}}
              <div class="flex-horizontal">
                {{#if (gt skill.max 0)}}
                  <div class="attributes-container">
                    {{#multiboxes skill.value}}
                      <div class="attribute-stats">
                        {{#times_from_0 skill.max}}
                          <input type="radio" id="attributes-{{../../../actor._id}}-{{skill_name}}-{{this}}" name="data.attributes.{{attribute_name}}.skills.{{skill_name}}.value" value="{{this}}">
                          <label for="attributes-{{../../../actor._id}}-{{skill_name}}-{{this}}"></label>
                        {{/times_from_0}}
                      </div>
                      <div class="attribute-skill-label macroable roll-die-attribute rollable-text tooltip" data-roll-attribute="{{skill_name}}">{{localize skill.label}}<span class="tooltiptext bottom">{{{localize skill.tip}}}</span></div>
                    {{/multiboxes}}
                  </div>
                {{/if}}
              </div>
            {{/each}}
          </div>
        {{/unless}}

        {{#if (eq attribute_name "specialist")}}
            <div id="attributes-{{attribute_name}}" class="attribute">
              <div id="attributes-{{attribute_name}}-title" class="attributes-exp">
                <div class="stripe">
                  <span class="attribute-label tooltip" data-roll-attribute="{{attribute_name}}">
                    {{localize (concat attribute.label 'Short')}}
                    <span class="tooltiptext top">{{{localize attribute.tip}}}</span>
                  </span>
                  <a class="skill-add-popup"><i class="fas fa-plus-square"></i></a>
                </div>
                <div class="stripe-tooth-body-blue">
                  {{#multiboxes attribute.exp}}
                    <label for="{{../actor._id}}-{{attribute_name}}-exp-0">{{localize "BITD.AExperience"}}<i class="fab fa-creative-commons-zero nullifier"></i></label>
                    <input type="radio" id="{{../actor._id}}-{{attribute_name}}-exp-0" name="data.attributes.{{attribute_name}}.exp" value="0" checked="checked">
                    {{#times_from_1 6}}
                      <input type="radio" id="{{../../actor._id}}-{{attribute_name}}-exp-{{this}}" name="data.attributes.{{attribute_name}}.exp" value="{{this}}">
                      <label for="{{../../actor._id}}-{{attribute_name}}-exp-{{this}}"></label>
                    {{/times_from_1}}
                  {{/multiboxes}}
                </div>
              </div>

              {{!-- Skills --}}
              {{#each attribute.skills as |skill skill_name|}}
                {{#unless (eq skill_name ../../data.item_triggers.spec_skill)}} {{!-- remove specialist skill specific to class --}}
                  <div class="flex-horizontal">
                    {{#if (gt skill.max 0)}}
                      <div class="attributes-container">
                        {{#multiboxes skill.value}}
                          <div class="attribute-stats">
                            {{#times_from_0 skill.max}}
                              <input type="radio" id="attributes-{{../../../actor._id}}-{{skill_name}}-{{this}}" name="data.attributes.{{attribute_name}}.skills.{{skill_name}}.value" value="{{this}}">
                              <label for="attributes-{{../../../actor._id}}-{{skill_name}}-{{this}}"></label>
                            {{/times_from_0}}
                          </div>
                          <div class="attribute-skill-label tooltip" data-roll-attribute="{{skill_name}}">{{localize skill.label}}<span class="tooltiptext top">{{{localize skill.tip}}}<br />{{localize "BITD.SkillsSpecialistTip"}}</span></div>
                          <div class="skill-select">
                            <span>{{localize "BITD.Uses"}}</span>
                            <select id="skilluses-{{skill_name}}-{{../../actor._id}}" name="data.attributes.{{attribute_name}}.skills.{{skill_name}}.usagesIndex">{{selectOptions (lookup skill 'usagesArray') selected=(lookup skill 'usagesIndex') localize=true}}</select>
                          </div>
                        {{/multiboxes}}
                      </div>
                    {{/if}}
                  </div>
                {{/unless}}
              {{/each}}
            </div>
        {{/if}}
      {{/each}}
    </div>

  </section>

</form>
