<form class="{{cssClass}} chosen-sheet" autocomplete="off">

  <section id="name-alias" class="flex-vertical">
    <div id="name-chosen" class="flex-horizontal">
      <img src="{{img}}" data-edit="img" title="{{name}}" height="100" width="100"/>

      <div class="grow-two flex-center">
        <div id="name" class="item-block">
          <label class="item-class-label" for="chosen-{{_id}}-name">{{localize "BITD.Name"}}</label>
          <input type="text" id="chosen-{{_id}}-name" name="name" value="{{name}}">
        </div>

        <div id="alias" class="item-block">
          <label class="item-class-label" for="chosen-{{_id}}-alias">{{localize "BITD.AKA"}}</label>
          <input type="text" id="chosen-{{_id}}-alias" name="system.alias" value="{{system.alias}}">
        </div>

  		  <div class="item-block flex">
          <div class="item-class-label">
            <a class="item-add-popup" data-distinct="true" data-item-type="chosen">{{localize "BITD.Chosen"}}</a>
          </div>
          {{#each items as |item id|}}
            {{#if (eq item.type "chosen")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body center flex-horizontal">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <div class="attribute-skill-label tooltip" data-roll-attribute="{{item.name}}">
                    <a class="item-name">{{item.name}}</a>
                    <span class="tooltiptext">{{{item.system.description}}}</span>
                  </div>
                </div>
                <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>

    <div id="character-traits" class="flex-vertical">
      {{#if (eq system.type "Chosen")}}

        {{#unless (gt system.anointed 0)}}
          <div class="item-block flexrow">
            <div class="item-class-label">{{localize "BITD.ChosenFavorType"}}</div>
            <div class="attributes-container">
              <div class="attribute-stats">
                <input type="radio" id="favorType-{{_id}}-0" data-dtype="String" name="system.traits.favorType" value="0" {{checked (eq system.traits.favorType "0")}}>
                <input type="radio" id="favorType-{{_id}}-1" data-dtype="String" name="system.traits.favorType" value="1" {{checked (eq system.traits.favorType "1")}}>
                <label for="favorType-{{_id}}-1"></label><span class="trait-label flex1">{{system.favorTypes.0.[0]}}</span>
                <input type="radio" id="favorType-{{_id}}-2" data-dtype="String" name="system.traits.favorType" value="2" {{checked (eq system.traits.favorType "2")}}>
                <label for="favorType-{{_id}}-2"></label><span class="trait-label flex1">{{system.favorTypes.0.[1]}}</span>
                <input type="radio" id="favorType-{{_id}}-3" data-dtype="String" name="system.traits.favorType" value="3" {{checked (eq system.traits.favorType "3")}}>
                <label for="favorType-{{_id}}-3"></label><span class="trait-label flex1">{{system.favorTypes.0.[2]}}</span>
              </div>
            </div>
          </div>
        {{/unless}}

        {{#if (gt system.anointed 0)}}
          <div class="item-block flexrow">
            <div class="item-class-label">{{localize "BITD.ChosenFavorTypes"}}:</div>
            <div class="attributes-container">
              <div class="attribute-stats">
                <input type="checkbox" id="favorType-{{_id}}-1" data-dtype="String" name="system.traits.favorType" value="1" checked>
                <label for="favorType-{{_id}}-1"></label><span class="trait-label flex1">{{system.favorTypes.0.[0]}}</span>
                <input type="checkbox" id="favorType-{{_id}}-2" data-dtype="String" name="system.traits.favorType" value="2" checked>
                <label for="favorType-{{_id}}-2"></label><span class="trait-label flex1">{{system.favorTypes.0.[1]}}</span>
                <input type="checkbox" id="favorType-{{_id}}-3" data-dtype="String" name="system.traits.favorType" value="3" checked>
                <label for="favorType-{{_id}}-3"></label><span class="trait-label flex1">{{system.favorTypes.0.[2]}}</span>
              </div>
            </div>
          </div>
        {{/if}}

        <div class="item-block flexrow">
          <div class="item-class-label">{{localize "BITD.ChosenFeatures"}}</div>
          <div class="attributes-container">
            <div class="attribute-stats">
              <input type="checkbox" id="features-{{_id}}-1" data-dtype="String" name="system.traits.features.one" value="one" {{checked system.traits.features.one}}>
              <label for="features-{{_id}}-1"></label><span class="trait-label flex1">{{system.featureTypes.0.[0]}}</span>
              <input type="checkbox" id="features-{{_id}}-2" data-dtype="String" name="system.traits.features.two" value="two" {{checked system.traits.features.two}}>
              <label for="features-{{_id}}-2"></label><span class="trait-label flex1">{{system.featureTypes.0.[1]}}</span>
              <input type="checkbox" id="features-{{_id}}-3" data-dtype="String" name="system.traits.features.three" value="three" {{checked system.traits.features.three}}>
              <label for="features-{{_id}}-3"></label><span class="trait-label flex1">{{system.featureTypes.0.[2]}}</span>
              <input type="checkbox" id="features-{{_id}}-4" data-dtype="String" name="system.traits.features.four" value="four" {{checked system.traits.features.four}}>
              <label for="features-{{_id}}-4"></label><span class="trait-label flex1">{{system.featureTypes.0.[3]}}</span>
              <input type="checkbox" id="features-{{_id}}-5" data-dtype="String" name="system.traits.features.five" value="five" {{checked system.traits.features.five}}>
              <label for="features-{{_id}}-5"></label><span class="trait-label flex1">{{system.featureTypes.0.[4]}}</span>
              <input type="checkbox" id="features-{{_id}}-6" data-dtype="String" name="system.traits.features.six" value="six" {{checked system.traits.features.six}}>
              <label for="features-{{_id}}-6"></label><span class="trait-label flex1">{{system.featureTypes.0.[5]}}</span>
              <input type="checkbox" id="features-{{_id}}-7" data-dtype="String" name="system.traits.features.seven" value="seven" {{checked system.traits.features.seven}}>
              <label for="features-{{_id}}-7"></label><span class="trait-label flex1">{{system.featureTypes.0.[6]}}</span>
              <input type="checkbox" id="features-{{_id}}-8" data-dtype="String" name="system.traits.features.eight" value="eight" {{checked system.traits.features.eight}}>
              <label for="features-{{_id}}-8"></label><span class="trait-label flex1">{{system.featureTypes.0.[7]}}</span>
            </div>
          </div>
        </div>

        <div class="label-stripe">
          <p><label>{{localize "BITD.MissionFavor"}}</label></p>
        </div>
        <div id="favor-list" class="list">
          <div id="favor-clocks" class="flex-vertical">
            <div class="flex-horizontal">
              <div>{{{localize "BITD.ChosenAbilityDetail"}}}</div>
              <div class="flex-horizontal normal">{{{bob-clock "system.favorClock.value" system.favorClock.type system.favorClock.value (concat _id "-favorClock") "yellow"}}}</div>
            </div>
          </div>
        </div>

      {{/if}}
      {{#if (eq system.type "Broken")}}
        <div>{{{localize "BITD.BrokenAbilityDetail"}}}</div>
      {{/if}}
    </div>
  </section>
  <br />
  <section id="resources-section" class="flex-horizontal">
    <div class="tab-content flex-vertical grow-two">
      {{!-- Nav menu --}}
      <nav class="tabs flex-horizontal">
        <a class="item" data-tab="abilities">{{localize "BITD.Abilities"}}</a>
        <a class="item" data-tab="character-notes">{{localize "BITD.Notes"}}</a>
        {{#if isGM}}
          <a class="item" data-tab="effects">{{localize "BITD.Effects"}}</a>
          <a class="item" data-tab="all-character-items">{{localize "BITD.AllItems"}}</a>
        {{/if}}
      </nav>

      <div id="abilities" class="tab flex-vertical" data-tab="abilities">
        <div class="label-stripe">
          <p>
            <label>{{localize "BITD.Abilities"}}</label>
            <a class="item-add-popup" data-item-type="chosenability" data-limiter={{system.type}}><i class="fas fa-plus-square"></i></a>
          </p>
        </div>

        <div id="abilities-list">
          {{#each items as |item id|}}
            {{#if (eq item.type "chosenability")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body flex-horizontal">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <a class="item-name">{{item.name}}</a>
                  <div class="item-description">{{item.system.description}}</div>
                </div>
                <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
            {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="chosenability">{{localize "BITD.AddAbility"}}</a></div>
        </div>
      </div>

      {{!-- Notes --}}
      <div class="tab flex-vertical" data-tab="character-notes">
        <div class="label-stripe">
          <p><label>{{localize "BITD.Notes"}}</label></p>
        </div>
        <div class="description">
          {{{editor system.notes target="system.notes" engine="prosemirror" collaborate=false button=true owner=owner editable=editable}}}
        </div>
      </div>

      {{!-- Active Effects --}}
      <div id="effects" class="tab effects flex-vertical" data-tab="effects">
        <div class="label-stripe">
          <p><label>{{localize "BITD.Effects"}}</label></p>
        </div>
        {{> "systems/band-of-blades/templates/parts/active-effects.html"}}
      </div>

      {{!-- Full Item List --}}
      <div id="all-items" class="tab grow-two flex-vertical" data-tab="all-character-items">
        <div class="label-stripe">
          <p><label>{{localize "BITD.AllItems"}}</label></p>
        </div>
        {{#each items as |item id|}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body item-sheet-open flex-horizontal">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              <a class="item-name">{{item.name}}</a>
            </div>
            <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
            <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
          </div>
        {{/each}}
      </div>
    </div>
  </section>

</form>
