<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <label class="label-stripe">{{localize "BITD.Description"}}</label>
      <textarea rows="10" name="system.description">{{system.description}}</textarea>
    </section>
    <div class="flex-vertical">
      {{#if isGM}}
        <label class="label-stripe">{{localize "BITD.AddUpgrades"}}</label>
        <textarea name="system.def_abilities">{{system.def_abilities}}</textarea>
        <div class="label-stripe">{{localize "BITD.Effects"}}</div>
        <div id="effects">{{> "systems/band-of-blades/templates/parts/active-effects.html"}}</div>
      {{/if}}
    </div>
</form>
