<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
      </div>
  </header>

  <section class="flex-vertical">
    <label class="label-stripe">{{localize "BITD.Description"}}</label>
    <textarea name="system.description">{{system.description}}</textarea>
    <label class="label-stripe">{{localize "BITD.ExpClues"}}</label>
    <div><i>- {{localize "BITD.ClassExpClue1"}}</i></div><br>
    <div>{{localize "BITD.ClassExpClueDescription"}}</div>
    <div><i>- {{localize "BITD.ClassExpClue2"}}</i></div>
    <div><i>- {{{localize "BITD.ClassExpClue3"}}}</i></div>
    <div><i>- {{{localize "BITD.ClassExpClue4"}}}</i></div>
    <div><i>- {{{localize "BITD.ClassExpClue5"}}}</i></div>
    <div><i>- {{{localize "BITD.ClassExpClue6"}}}</i></div><br>
    <label class="label-stripe">{{localize "BITD.ClassSpecificExpClue"}}</label>
    <textarea name="system.experience_clues">{{{system.experience_clues}}}</textarea>
    {{#if isGM}}
      <label class="label-stripe">{{localize "BITD.AddUpgrades"}}</label>
      <textarea name="system.def_abilities">{{system.def_abilities}}</textarea>
      <div class="label-stripe">{{localize "BITD.SpecSkill"}}</div>
      <textarea name="system.skill">{{system.skill}}</textarea>
      <div class="label-stripe">{{localize "BITD.Effects"}}</div>
      <div id="effects">{{> "systems/band-of-blades/templates/parts/active-effects.html"}}</div>
	  {{/if}}
  </section>

</form>
