<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body flex-vertical">
      <textarea name="system.description">{{system.description}}</textarea>
      <label class="label-stripe">{{localize "BITD.Loadout"}}</label>
      <input id="item-load" type="text" name="system.load" value="{{system.load}}">
      <label class="label-stripe">{{localize "BITD.Class"}}</label>
      <input id="item-class" type="text" name="system.class" value="{{system.class}}">
      <label class="label-stripe">{{localize "BITD.LoadLevel"}}</label>
      <input id="item-loadtype" type="text" name="system.load_type" value="{{system.load_type}}">
      <label class="label-stripe">{{localize "BITD.Uses"}}</label>
      <input id="item-uses" type="text" name="system.uses" value="{{system.uses}}">

      {{#if isGM}}
        <div class="label-stripe">{{localize "BITD.Effects"}}</div>
        <div id="effects">{{> "systems/band-of-blades/templates/parts/active-effects.html"}}</div>
      {{/if}}
    </section>
</form>
