<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body flex-vertical">
      <textarea name="system.description">{{system.description}}</textarea>
      <label class="label-stripe">{{localize "BITD.Specialty"}}</label>
      <textarea name="system.special">{{system.special}}</textarea>
      <label class="label-stripe">{{localize "BITD.Master"}}</label>
      <input id="item-master" type="checkbox" name="system.master" {{checked system.master}}>
      {{#if isGM}}
        <div class="label-stripe">{{localize "BITD.Effects"}}</div>
        <div id="effects">{{> "systems/band-of-blades/templates/parts/active-effects.html"}}</div>
      {{/if}}
    </section>
</form>
