/*
*  Elements that can be changed will hint this by dimming and fading a little on hover
*/
/*
 * Toothradio. Some (eg trauma) are not changeable, hence the option.
 */
/*
 * Custom Radio
 */
/*
 * Custom Radio Squared
 */
/*
 * Checkboxes underscored.
 */
/*
 * Create Clock
 */
/*
 * Turf Block
 */
/*
 * Toothradio single elements
 */
/*
 * Custom Radio Round
 */
/*
 * General Styles
 */
:root {
	--almost_white: #eeefff;
	--red: #ff0000;
	--holoblue: #33b5e5;
	--holobluemed: #84d2ef;
	--holobluelt: #ade1f4;
	--redmed: #ff6666;
	--redlt: #ffb2b2;
	--darkblue: #001324;
}
@font-face {
  font-family: 'Zamolxis';
  src: url("assets/fonts/Zamolxis-I.ttf");
}
@font-face {
  font-family: 'MajorGuilty';
  src: url("assets/fonts/MAJOR-__.otf");
}
@font-face {
  font-family: 'Vollkorn';
  src: url("assets/fonts/Vollkorn-VariableFont_wght.ttf");
}
* {
	font-family: 'Vollkorn', 'Signika', serif;
}
* .flex {
  display: flex;
}
* header {
  margin-bottom: 10px;
}
* ul {
  list-style: none;
}
* .role-sheet ul,
* .chosen-sheet ul {
  list-style: outside;
}
* #effects table {
  background: unset;
  border-top: unset;
  border-bottom: unset;
  margin: unset;
}
* #effects table .item {
  font-weight: unset;
}
* #effects table tr:nth-child(even) {
  background-color: unset;
}
* #effects table thead {
  background: unset;
  color: unset;
  text-shadow: unset;
  border-bottom: unset;
}
* #effects table .item-controls {
  justify-content: space-evenly;
}
* .sheet table .center {
  text-align: center;
}
* .sheet table .right {
  text-align: right;
}
* .sheet img {
  margin-right: 3px;
}
* .sheet section {
  margin-bottom: unset;
}
* form.actor-sheet {
  /* padding: 20px; */
}
* form .form-group.roll > * {
    flex: 3;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0%;
}
* .fa-creative-commons-zero.nullifier,
* .fa-plus-square {
  font-size: 14px;
}
* .band-of-blades.sheet .window-header h4.window-title {
  font-family: 'Zamolxis', 'serif';
  font-size: xx-large;
}
.chat-item img {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
input[type="checkbox"] {
  cursor: pointer;
  transition: filter 0.1s;
  margin: 0px 5px 5px;
}
input[type="checkbox"]:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.placeable-hud .control-icon:first-child {
  margin-top: 8px;
}
.dice-tooltip .dice-rolls .roll.bobd6 {
	background: url('assets/icons/d6-black.svg');
	color: var(--almost_white);
	background-size: 24px 24px;
}
* .dialog-buttons {
	margin-top: 5px;
}
* textarea {
  margin-top: 10px;
  margin-bottom: 20px;
}
* td {
  padding: 5px;
}
* section {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* section > *:not(.label-stripe) {
  margin-right: 10px;
}
* section > *:not(.label-stripe):last-child {
  margin-right: 0px;
}
* section .grow-one {
  flex-grow: 1;
}
* section .grow-two {
  flex-grow: 2;
}
* section.experience {
  margin-bottom: 0px;
  justify-content: center;
}
* nav {
  margin-bottom: 10px;
}
* .editor,
* .editor-content {
  min-height: 280px;
}
* .flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
* .chosen-sheet .flex-horizontal {
  justify-content: unset;
}
* .flex-vertical {
  display: flex;
  flex-direction: column;
}
* .black-label {
  background-color: #191813;
  color: #EEEFFF;
  font-size: x-large;
  padding: 0px 5px;
  height: 30px !important;
  font-family: 'MajorGuilty', 'serif';
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}
* .gray-label {
  background-color: #999;
  color: #191813;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .chat-label {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .chat-label-small {
  background-color: #999;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
  height: 20px !important;
}
* .chat-label-small-red {
  background-color: red;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
}
* .label-stripe {
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
* #morale.label-stripe {
  margin-bottom: 0px;
}
* .label-stripe p {
  margin: 0.25em 0;
}
* .label-stripe span {
  font-family: 'MajorGuilty', 'serif';
  font-size: x-large;
  font-weight: normal;
}
* .label-stripe label {
  font-family: 'MajorGuilty', 'serif';
  font-size: x-large;
}
* .role-sheet .label-stripe label {
  margin-right: 10px;
}
* .role-sheet .label-stripe a {
  margin-right: 20px;
}
* .label-stripe .hoverlink {
  cursor: pointer;
  transition: filter 0.1s;
}
* .label-stripe .hoverlink:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .label-stripe-red {
  text-transform: uppercase;
  background-color: #191813;
  color: red;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .label-stripe-gray {
  text-transform: uppercase;
  background-color: #999999 !important;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .label-stripe-chat {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-family: 'MajorGuilty', 'serif';
  font-size: x-large;
  margin: 0;
}
* .label-stripe-chat-small {
  text-transform: capitalize;
  background-color: #999;
  color: #191813;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}
* .label-stripe-chat-small-red {
  text-transform: capitalize;
  background-color: red;
  color: #191813;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}
* .rollable-text {
  transition: color 0.2s;
}
* .rollable-text:hover {
  cursor: pointer;
  color: red;
}
* .rollable-text label:hover {
  cursor: pointer;
  color: red !important;
}
* #stress-vice {
  width: 85px;
}
* #corruption {
  width: 145px;
}
* .big-teeth-section {
  border-top: 3px solid #191813;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  /* Trauma */
}
* .big-teeth-section > * {
  margin-right: 10px;
}
* .big-teeth-section:last-child {
  margin-right: 0px;
}
* .big-teeth-section .big-teeth {
  display: flex;
  /* Hide the browser's default checkbox */
}
* .big-teeth-section .big-teeth label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: filter 0.1s;
  cursor: pointer;
}
* .big-teeth-section .big-teeth label:not(.black-label) {
  margin-left: 2px;
}
* #corruption-blight.big-teeth-section .big-teeth label {
  background-image: url("assets/teeth/stresstooth-green.png");
}
* .big-teeth-section .big-teeth label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .big-teeth-section .big-teeth label:last-of-type {
  margin-right: 0px;
}
* .big-teeth-section .big-teeth label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .big-teeth-section .big-teeth label[for$="-0"]:hover {
  color: red;
}
* #corruption-blight.big-teeth-section .big-teeth label[for$="-0"]:hover {
  color: #40a640;
}
* .big-teeth-section .big-teeth label[for$="-0"] i {
  margin-top: 4px;
}
* .big-teeth-section .big-teeth input {
  display: none;
}
* .big-teeth-section .big-teeth input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
* .big-teeth-section .big-teeth input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
* #corruption-blight.big-teeth-section .big-teeth input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
* #corruption-blight.big-teeth-section .big-teeth input:checked + label {
  background-image: url("assets/teeth/stresstooth-green.png");
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap {
  display: inline-flex;
  /* Hide the browser's default checkbox */
  flex-direction: column;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap label {
  display: inline-block;
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/shorttooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 2px;
  cursor: not-allowed;
}
* #corruption-blight.big-teeth-section .small-teeth-container .small-teeth-wrap label {
  background-image: url("assets/teeth/shorttooth-green.png");
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap label:last-of-type {
  margin-right: 0px;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap label[for$="-0"] {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap label[for$="-0"] i {
  margin-top: 4px;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap input {
  display: none;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap input:checked ~ label {
  background-image: url("assets/teeth/shorttooth-grey.png");
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap input:checked + label {
  background-image: url("assets/teeth/shorttooth-red.png");
}
* #corruption-blight.big-teeth-section .small-teeth-container .small-teeth-wrap input:checked ~ label {
  background-image: url("assets/teeth/shorttooth-grey.png");
}
* #corruption-blight.big-teeth-section .small-teeth-container .small-teeth-wrap input:checked + label {
  background-image: url("assets/teeth/shorttooth-green.png");
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap .small-teeth {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
* .big-teeth-section #blight-list,
* .big-teeth-section #trauma-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
* .big-teeth-section #blight-list label,
* .big-teeth-section #trauma-list label {
  cursor: pointer;
  font-size: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
  transition: filter 0.1s;
  cursor: pointer;
  /* Hide the browser's default checkbox */
}
* .big-teeth-section #blight-list label:hover,
* .big-teeth-section #trauma-list label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .big-teeth-section #blight-list label:hover {
  color: #40a640;
}
* .big-teeth-section #trauma-list label:hover {
  color: red;
}
* .big-teeth-section #blight-list label input,
* .big-teeth-section #trauma-list label input {
  display: none;
}
* .big-teeth-section #blight-list label input:checked ~ .checkmark {
  color: #40a640;
}
* .big-teeth-section #trauma-list label input:checked ~ .checkmark {
  color: red;
}
* .big-teeth-section #blight-list label .checkmark,
* .big-teeth-section #trauma-list label .checkmark {
  text-decoration: none;
  font-weight: bold;
}
* #character-stress label[for$="-0"] {
  margin-right: 0px;
}
* #friend-list .item-name {
	width: 60px;
}
* #upgrades .item-name,
* #abilities .item-name,
* #loadout .item-name {
	width: 120px;
}
* #all-items .item-name {
	width: 300px;
}
* #faction-items .item-name {
  width: 120px;
}
* #friend-list .item .item-body {
	margin-left: 20px;
}
* #planet-list .item-body {
	max-width: 5rem;
}
* #friend-list .item-body,
* #faction-items .item-body,
* #loadout .item-body,
* #upgrades .item-body,
* #abilities .item-body {
  width: auto;
}
* #planet-list .item-description {
	width: 400px;
	padding-left: 5px;
}
* #friend-list .item-description,
* #faction-items .item-description,
* #loadout .item-description,
* #upgrades .item-description,
* #abilities .item-description {
  width: 300px;
}
* #friends .label-stripe p:first-child,
* #factions .label-stripe p:first-child,
* #loadout .label-stripe p:first-child,
* #loadout .label-stripe-red p:first-child,
* #upgrades .label-stripe p:first-child,
* #abilities .label-stripe p:first-child {
  margin-right: 10px;
}
* .teeth-experience-red {
  display: flex;
  /* Hide the browser's default checkbox */
  position: float;
  top: 0px;
  right: 10px;
}
* .teeth-experience {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  top: 0px;
  right: 10px;
}
* .teeth-experience label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/stresstooth-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .teeth-experience-red label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .teeth-experience-red label:last-of-type,
* .teeth-experience label:last-of-type {
  margin-right: 0px;
}
* .teeth-experience-red label[for$="-0"],
* .teeth-experience label[for$="-0"] {
  width: auto;
  height: auto;
  padding-top: 2px;
  background-image: none !important;
  color: #EEEFFF;
}
* .teeth-experience-red label[for$="-0"]:hover,
* .teeth-experience label[for$="-0"]:hover {
  color: red;
}
* .teeth-experience-red label[for$="-0"] i,
* .teeth-experience label[for$="-0"] i {
  margin-top: 4px;
}
* .teeth-experience-red label:hover,
* .teeth-experience label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .teeth-experience-red input,
* .teeth-experience input {
  display: none;
}
* .teeth-experience-red input:checked ~ label,
* .teeth-experience input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
* .teeth-experience-red input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
* .teeth-experience input:checked + label {
  background-image: url("assets/teeth/stresstooth-blue.png");
}
* #harm-armor {
  display: flex;
}
* #harm-armor table td,
* #harm-armor table th {
  padding: 1px;
}
* #harm-armor td.harm-header {
  font-family: 'Zamolxis', 'serif';
  font-size: x-large;
}
* #harm-armor #character-harm {
  width: 100%;
}
* #harm-armor #character-harm table {
  width: 100%;
}
* #harm-armor #character-harm table th {
  background-color: #191813;
  color: #EEEFFF;
  font-family: 'MajorGuilty', 'serif';
  font-weight: normal;
  font-size: x-large;
  min-width: 100px;
}
* #harm-armor #character-harm table input[type=text] {
  width: 100%;
  font-weight: bold;
}
* .armor-checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
* #harm-armor td.healing-checkboxes {
  display: flex;
  justify-content: space-evenly;
}
* #harm-armor .healing-checkboxes div {
  display: flex;
}
* .wound-checkboxes input[type=checkbox],
* #harm-armor .healing-checkboxes input[type=checkbox] {
  display:none;
}
* .wound-checkboxes label,
* #harm-armor .healing-checkboxes label {
  height: 15px;
  width: 15px;
  border: 2px solid;
  background-color: #EEEFFF;
  vertical-align: middle;
  transition: filter 0.1s;
  cursor: pointer;
  margin: 2px;
}
* .wound-checkboxes label:hover,
* #harm-armor .healing-checkboxes label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
* .wound-checkboxes input:checked + label,
* #harm-armor .healing-checkboxes input:checked + label {
  background-color: #191813;
}
* #harm-armor #character-armor-uses label {
  height: 15px;
  width: 15px;
  /* border-radius: 50%; */
  border: 2px solid;
  background-color: #EEEFFF;
  vertical-align: middle;
  transition: filter 0.1s;
  cursor: pointer;
}
* #harm-armor #character-armor-uses label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
* #harm-armor #character-armor-uses input {
  display: none;
}
* #harm-armor #character-armor-uses input:checked + label {
  background-color: #191813;
}
* .role-sheet #character-traits .flex-horizontal {
  justify-content: flex-start;
}
* .role-sheet #character-traits .item-class-label {
  margin-right: 15px;
  margin-bottom: 0px;
}
* .chosen-sheet .item-class-label {
  max-width: 180px;
}
* #character-traits .attributes-container {
  display: flex;
  position: relative;
  /* Hide the browser's default checkbox */
}
* #character-traits .attributes-container label {
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  border: 2px solid;
  background-color: #eeefff;
  vertical-align: middle;
  transition: filter 0.1s;
  cursor: pointer;
  margin-top: 5px;
}
* #character-traits .attributes-container label[for$="-0"] {
  height: 5px;
  width: 5px;
  border: 1px solid;
  border-radius: 24px;
  background-image: none !important;
  background-color: red !important;
  margin-right: 3px;
}
* #character-traits .attributes-container label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
* #character-traits .attributes-container input {
  display: none;
}
* #character-traits .attributes-container input:checked + label {
  background-color: #191813;
}
* #character-traits .attributes-container * {
  margin-right: 4px;
  display: flex;
}
* #character-traits .trait-label{
  margin-top: 2px;
  margin-right: 15px;
}
* #attributes {
  display: flex;
  flex-direction: column;
  width: 245px;
}
* #attributes .stripe {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 17px;
  padding-left: 5px;
  margin-bottom: 5px;
}
* #attributes .attribute-label {
  font-family: 'MajorGuilty', 'serif';
  font-size: x-large;
}
* #attributes .attribute-label,
* #attributes .attribute-skill-label {
  text-transform: uppercase;
  margin-right: 10px;
  letter-spacing: 1px;
}
* #attributes .attribute-skill-label {
  font-weight: bold;
  margin-top: 3px;
}
* #attributes .attributes-exp {
  position: relative;
}
* #attributes .attributes-exp .stripe-tooth-body-red {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  top: 0px;
  right: 0px;
}
* #attributes .attributes-exp .stripe-tooth-body-blue {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  top: 0px;
  right: 0px;
  margin-left: 40px;
}
* #attributes .attributes-exp .stripe-tooth-body-red label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* #attributes .attributes-exp .stripe-tooth-body-blue label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* #attributes .attributes-exp .stripe-tooth-body-red label:last-of-type,
* #attributes .attributes-exp .stripe-tooth-body-blue label:last-of-type {
  margin-right: 0px;
}
* #attributes .attributes-exp .stripe-tooth-body-red label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* #attributes .attributes-exp .stripe-tooth-body-blue label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* #attributes .attributes-exp .stripe-tooth-body-blue label[for$="-0"]:hover {
  color: red;
}
* #attributes .attributes-exp .stripe-tooth-body-red label[for$="-0"] i {
  margin-top: 4px;
}
* #attributes .attributes-exp .stripe-tooth-body-blue label[for$="-0"] i {
  margin-top: 4px;
}
* #attributes .attributes-exp .stripe-tooth-body-red label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* #attributes .attributes-exp .stripe-tooth-body-blue label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* #attributes .attributes-exp .stripe-tooth-body-red input {
  display: none;
}
* #attributes .attributes-exp .stripe-tooth-body-blue input {
  display: none;
}
* #attributes .attributes-exp .stripe-tooth-body-red input:checked ~ label,
* #attributes .attributes-exp .stripe-tooth-body-blue input:checked ~ label {
  background-image: url("assets/teeth/xptooth-white.png");
}
* #attributes .attributes-exp .stripe-tooth-body-red input:checked + label {
  background-image: url("assets/teeth/xptooth-red.png");
}
* #attributes .attributes-exp .stripe-tooth-body-blue input:checked + label {
  background-image: url("assets/teeth/xptooth-blue.png");
}
* #morale-boxes .attributes-container {
  display:flex;
  justify-content: space-between;
  width: 100%;
}
* .wounds-boxes.attributes-container,
* #attributes .attributes-container {
  display: flex;
  position: relative;
  /* Hide the browser's default checkbox */
}
* #morale-boxes .attributes-container label {
  height: 20px;
  width: 20px;
  margin-top: 7px;
}
* #morale-boxes .attributes-container label:last-child {
  margin-right: 45px;
}
* .wounds-boxes.attributes-container span {
  margin-top: 4px;
}
* .wounds-boxes.attributes-container label,
* #attributes .attributes-container label {
  height: 12px;
  width: 12px;
}
* #attributes .attributes-container label {
  margin-top: 5px;
}
* .wounds-boxes.attributes-container label {
  margin-top: 7px !important;
}
* .wounds-boxes.attributes-container label,
* #morale-boxes .attributes-container label,
* #attributes .attributes-container label {
  transform: rotate(45deg);
  border: 2px solid;
  background-color: #191813;
  vertical-align: middle;
  transition: filter 0.1s;
}
* #morale-boxes .attributes-container label,
* #attributes .attributes-container label {
  cursor: pointer;
}
* #morale-boxes .attributes-container label[for$="-1"],
* #morale-boxes .attributes-container label[for$="-2"],
* #morale-boxes .attributes-container label[for$="-3"] {
  background-color: red;
}
* #morale-boxes .attributes-container label[for$="-4"],
* #morale-boxes .attributes-container label[for$="-5"],
* #morale-boxes .attributes-container label[for$="-6"],
* #morale-boxes .attributes-container label[for$="-7"] {
  background-color: yellow;
}
* #morale-boxes .attributes-container label[for$="-0"] {
  height: 8px;
  width: 8px;
  border: 1px solid;
  border-radius: 24px;
  background-image: none !important;
  background-color: red !important;
  margin-right: 3px;
}
* #attributes .attributes-container label[for$="-0"] {
  height: 5px;
  width: 5px;
  border: 1px solid;
  border-radius: 24px;
  background-image: none !important;
  background-color: red !important;
  margin-right: 3px;
}
* #morale-boxes .attributes-container label:hover,
* #attributes .attributes-container label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
* .wounds-boxes.attributes-container input,
* #morale-boxes .attributes-container input,
* #attributes .attributes-container input {
  display: none;
}
* #morale-boxes .attributes-container input:checked ~ label,
* #attributes .attributes-container input:checked ~ label {
  background-color: #EEEFFF;
}
* #morale-boxes .attributes-container input:checked + label,
* #attributes .attributes-container input:checked + label {
  transition: filter 0.1s;
  cursor: pointer;
  background-color: #191813;
}
* #morale-boxes .attributes-container input:checked + label[for$="-1"],
* #morale-boxes .attributes-container input:checked + label[for$="-2"],
* #morale-boxes .attributes-container input:checked + label[for$="-3"] {
  background-color: red;
}
* #morale-boxes .attributes-container input:checked + label[for$="-4"],
* #morale-boxes .attributes-container input:checked + label[for$="-5"],
* #morale-boxes .attributes-container input:checked + label[for$="-6"],
* #morale-boxes .attributes-container input:checked + label[for$="-7"] {
  background-color: yellow;
}
* #morale-boxes .attributes-container input:checked + label:hover,
* #attributes .attributes-container input:checked + label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
* .wounds-boxes.attributes-container *,
* #morale-boxes .attributes-container *,
* #attributes .attributes-container * {
  margin-right: 6px;
  display: flex;
}
* #attributes .skill-select {
  position: absolute;
  left:160px;
  top: 1px;
  font-weight: bold;
}
* #attributes .skill-select span {
  align-items: center;
}
* #attributes .skill-select select {
  height: 22px;
}
* .item {
  justify-content: flex-start;
  font-weight: bold;
}
* #abilities .item,
* #loadout .item,
* #friends .item,
* #upgrades .item {
    margin-right: 5px;
}
* .item .ship-body,
* .item .item-body {
  margin-bottom: 8px;
  margin-right: 2px;
}
* .item .item-body .item-description {
  font-style: italic;
  text-align: justify;
}
* #all-items .item div {
	flex-grow: 4;
}
* .item div {
  flex-grow: 3;
}
* .item .center {
  align-items: center;
}
* .item .item-control {
  text-align: center;
  width: 20px;
  margin-top: 4px;
}
* #all-items .item .item-body {
	width: auto;
}
* .item .item-body,
* .item .item-class-label {
  width: 135px;
}
* .item-class-label {
  margin-bottom: 10px;
}
* #name,
* #lair,
* #alias {
  margin-bottom: 10px;
}
* .experience-clues-container {
  width: 340px;
  font-size: 12px;
}
* .experience-clues-container .experience-clues-description {
  font-weight: bold;
}
* .experience-clues-container .experience-clues {
  font-style: italic;
}
* .class-name {
  width: 512px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 48px;
  text-transform: uppercase;
  border: 3px solid #191813;
}
* .class-name .big-name {
  font-weight: bold;
}
* .class-name .big-description {
  font-size: 20px;
  color: #191813;
}
* #items-to-add {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
* #items-to-add input[type=radio],
* #items-to-add input[type=checkbox] {
  display: none;
}
* #items-to-add input[type=radio]:checked + label,
* #items-to-add input[type=checkbox]:checked + label {
  font-weight: bolder;
}
* .tooltip {
  position: relative;
}
* .tooltip .tooltiptext {
  visibility: collapse;
  opacity: 0;
  width: 200px;
  background-color: #191813;
  color: #EEEFFF;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 9999;
  text-transform: none;
  font-size: small;
  font-weight: normal;
  cursor: default;
  transition: 0.2s;
  font-family: 'Vollkorn', 'Signika', serif;
}
* .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-delay: 1.2s;
  transition-timing-function: linear;
}
* .tooltip .tooltiptext.left {
  right: 105%;
}
* .tooltip .tooltiptext.bottom {
  top: 105%;
  right: 75%;
}
* .tooltip .tooltiptext.top {
  bottom: 105%;
  right: 75%;
}
* .bob-die-tooltip .die {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
  margin-top: 10px;
}
* .bob-die-tooltip .die.great,
* .bob-die-tooltip .die.fast,
* .bob-die-tooltip .die.engCrit,
* .bob-die-tooltip .die.alcCrit,
* .bob-die-tooltip .die.misCrit,
* .bob-die-tooltip .die.critical-resist,
* .bob-die-tooltip .die.critical-success {
  color: #12a012;
}
* .bob-die-tooltip .die.moderate,
* .bob-die-tooltip .die.engSuccess,
* .bob-die-tooltip .die.alcSuccess,
* .bob-die-tooltip .die.misSuccess,
* .bob-die-tooltip .die.standard,
* .bob-die-tooltip .die.resist,
* .bob-die-tooltip .die.success {
  color: #008000;
}
* .bob-die-tooltip .die.limited,
* .bob-die-tooltip .die.engPartial,
* .bob-die-tooltip .die.alcPartial,
* .bob-die-tooltip .die.misPartial,
* .bob-die-tooltip .die.partial-success {
  color: #04578f;
}
* .bob-die-tooltip .die.very-slow,
* .bob-die-tooltip .die.engFail,
* .bob-die-tooltip .die.alcFail,
* .bob-die-tooltip .die.misFail,
* .bob-die-tooltip .die.poor,
* .bob-die-tooltip .die.failure {
  color: red;
}
* .clock-zero-label {
  color: #191813;
}
* .bob-clock {
  position: relative;
  padding: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
* .normal .bob-clock {
  width: 80px;
  height: 80px;
}
* .medium .bob-clock {
  width: 60px;
  height: 60px;
}
* .small .bob-clock {
  width: 40px;
  height: 40px;
}
* .bob-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
* .bob-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .bob-clock input {
  position: absolute;
  display: none;
}
* .bob-clock input[value="0"] {
  display: none;
}
* .bob-clock.clock-4 *:nth-child(3) {
  transform: rotate(0deg) skewY(180deg);
}
* .bob-clock.clock-4 *:nth-child(5) {
  transform: rotate(90deg) skewY(180deg);
}
* .bob-clock.clock-4 *:nth-child(7) {
  transform: rotate(180deg) skewY(180deg);
}
* .bob-clock.clock-4 *:nth-child(9) {
  transform: rotate(270deg) skewY(180deg);
}
* .bob-clock.clock-6 *:nth-child(3) {
  transform: rotate(0deg) skewY(150deg);
}
* .bob-clock.clock-6 *:nth-child(5) {
  transform: rotate(60deg) skewY(150deg);
}
* .bob-clock.clock-6 *:nth-child(7) {
  transform: rotate(120deg) skewY(150deg);
}
* .bob-clock.clock-6 *:nth-child(9) {
  transform: rotate(180deg) skewY(150deg);
}
* .bob-clock.clock-6 *:nth-child(11) {
  transform: rotate(240deg) skewY(150deg);
}
* .bob-clock.clock-6 *:nth-child(13) {
  transform: rotate(300deg) skewY(150deg);
}
* .bob-clock.clock-8 *:nth-child(3) {
  transform: rotate(0deg) skewY(135deg);
}
* .bob-clock.clock-8 *:nth-child(5) {
  transform: rotate(45deg) skewY(135deg);
}
* .bob-clock.clock-8 *:nth-child(7) {
  transform: rotate(90deg) skewY(135deg);
}
* .bob-clock.clock-8 *:nth-child(9) {
  transform: rotate(135deg) skewY(135deg);
}
* .bob-clock.clock-8 *:nth-child(11) {
  transform: rotate(180deg) skewY(135deg);
}
* .bob-clock.clock-8 *:nth-child(13) {
  transform: rotate(225deg) skewY(135deg);
}
* .bob-clock.clock-8 *:nth-child(15) {
  transform: rotate(270deg) skewY(135deg);
}
* .bob-clock.clock-8 *:nth-child(17) {
  transform: rotate(315deg) skewY(135deg);
}
* .bob-clock.clock-10 *:nth-child(3) {
  transform: rotate(0deg) skewY(126deg);
}
* .bob-clock.clock-10 *:nth-child(5) {
  transform: rotate(36deg) skewY(126deg);
}
* .bob-clock.clock-10 *:nth-child(7) {
  transform: rotate(72deg) skewY(126deg);
}
* .bob-clock.clock-10 *:nth-child(9) {
  transform: rotate(108deg) skewY(126deg);
}
* .bob-clock.clock-10 *:nth-child(11) {
  transform: rotate(144deg) skewY(126deg);
}
* .bob-clock.clock-10 *:nth-child(13) {
  transform: rotate(180deg) skewY(126deg);
}
* .bob-clock.clock-10 *:nth-child(15) {
  transform: rotate(216deg) skewY(126deg);
}
* .bob-clock.clock-10 *:nth-child(17) {
  transform: rotate(252deg) skewY(126deg);
}
* .bob-clock.clock-10 *:nth-child(19) {
  transform: rotate(288deg) skewY(126deg);
}
* .bob-clock.clock-10 *:nth-child(21) {
  transform: rotate(324deg) skewY(126deg);
}
* .bob-clock.clock-12 *:nth-child(3) {
  transform: rotate(0deg) skewY(120deg);
}
* .bob-clock.clock-12 *:nth-child(5) {
  transform: rotate(30deg) skewY(120deg);
}
* .bob-clock.clock-12 *:nth-child(7) {
  transform: rotate(60deg) skewY(120deg);
}
* .bob-clock.clock-12 *:nth-child(9) {
  transform: rotate(90deg) skewY(120deg);
}
* .bob-clock.clock-12 *:nth-child(11) {
  transform: rotate(120deg) skewY(120deg);
}
* .bob-clock.clock-12 *:nth-child(13) {
  transform: rotate(150deg) skewY(120deg);
}
* .bob-clock.clock-12 *:nth-child(15) {
  transform: rotate(180deg) skewY(120deg);
}
* .bob-clock.clock-12 *:nth-child(17) {
  transform: rotate(210deg) skewY(120deg);
}
* .bob-clock.clock-12 *:nth-child(19) {
  transform: rotate(240deg) skewY(120deg);
}
* .bob-clock.clock-12 *:nth-child(21) {
  transform: rotate(270deg) skewY(120deg);
}
* .bob-clock.clock-12 *:nth-child(23) {
  transform: rotate(300deg) skewY(120deg);
}
* .bob-clock.clock-12 *:nth-child(25) {
  transform: rotate(330deg) skewY(120deg);
}
* .bob-clock-name-type > * {
  margin-bottom: 10px;
  max-width: 220px;
}
* #minion-hp-clock .hp-clock {
  margin: auto;
  padding-left: 3px;
}
* .nullifier {
  transition: filter 0.2s;
  cursor: pointer;
}
* .nullifier:hover {
  filter: brightness(0.8);
  opacity: 0.9;
  color: red;
}
.clocks.sheet .clock-progress {
  text-align: center;
}
.clocks.sheet .clock-name {
  height: 60px;
  text-align: left;
}
.clocks.sheet .clock-name input {
  height: 40px;
  line-height: 48px;
  font-size: 32px;
  width: 100%;
  background: none;
  border: 1px solid transparent;
  padding: 1px 3px;
  border-radius: 3px;
  color: rgb(25, 24, 19);
  margin: 0;
}
.clocks.sheet .clock-name.editable input:hover, .clocks.sheet .clock-name.editable input:focus {
  border: 1px solid rgb(25, 24, 19);
}
.clocks.sheet .clock-progress button {
  width: 140px;
  margin: 0;
}
.clocks.sheet .clock-progress button[name=reset] {
  width: 40px;
}
.clocks.sheet .clock-progress button:disabled {
  color: #aaaaaa;
  border: none;
}
* .role-sheet button:disabled {
  cursor: not-allowed;
}
.clocks.sheet .clock-image img {
  border: none;
  padding: 10px;
}
.clocks.sheet .clock-config {
  text-align: center;
}
.clocks.sheet .clock-config .clock-config-group {
  margin-left: 1.5em;
  display: inline-block;
}
.clocks.sheet .clock-config .clock-config-group:first-child {
  margin-left: 0;
}
.clocks.sheet .clock-config .clock-config-group label {
  margin-right: 3px;
}
.clocks.sheet .clock-config .clock-config-group select {
  width: 50px;
}
.clocks.sheet .clock-config .clock-config-group.theme select {
  width: 175px;
}
.clocks.sheet .clock-debug {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  font-family: monospace;
}
* #resources .total-spies,
* #loadout .utility {
  font-family: 'Vollkorn', 'Signika', serif;
  font-size: large;
  font-weight: bold;
  margin-top: 3px;
}
* #loadout .dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right;
  padding: 0 20px 0 0;
  background-color: #191813;
  font-family: 'MajorGuilty', 'serif';
  font-size: x-large;
  color: #eeefff;
  text-align: right;
  margin-top: 1px;
}
* #loadout .dropdown select option {
  font-family: 'MajorGuilty', 'serif';
  font-size: medium;
  color: #eeefff;
}
* #loadout .dropdown select:hover {
  color: red;
}
* .item-class-label,
* .item-delete-all {
  margin-left: 10px;
  margin-right: 10px;
}
* .role-sheet #time-clocks {
  justify-content: center;
}
* .gradient-stripe-time {
  background: linear-gradient(to right, rgba(238,239,255,0), rgba(25,24,19,1));
}
* .gradient-stripe-morale {
  background: linear-gradient(to right, rgba(25,24,19,1) 0%,rgba(22,21,11,0.7) 40%,rgba(22,21,11,0.7) 60%,rgba(238,239,255,0) 100%);
  height: 34px;
}
* .role-sheet p.caps {
  text-transform: capitalize;
  font-weight: bold;
}
* .role-sheet div.bob-clock:last-child{
  margin-right: 20px;
}
* .minion-sheet input[type="number"],
* .role-sheet input[type="number"] {
  font-size: xx-large;
  width: 100px;
  height: fit-content;
  text-align: center;
}
* .role-sheet .list {
  margin-bottom: 10px;
}
* .role-sheet .item-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
* .role-sheet .flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
* .role-sheet .item-body {
  width: unset;
}
* .role-sheet .item-class-label label {
  margin-right: 10px;
}
* .role-sheet .item-body.flex-left {
  display: flex;
}
* .role-sheet .item-body.flex-left .attribute-skill-label {
  min-width: 120px;
  margin-top: 3px;
}
* .role-sheet #squads span {
  margin-right: 5px;
}
* .role-sheet .item-body.flex-left input[type="text"] {
  width: 25px;
  text-align: center;
}
* .role-sheet .item-body.flex-left label {
  margin-left: 2px;
  margin-top: 4px;
}
* .flex-flow {
  display: flex;
  flex-flow: column wrap;
}
* .role-sheet #squads .container.flex-flow {
  max-height: 100px;
}
* .role-sheet #materiel-list .container.flex-flow {
  max-height: 110px;
}
* .role-sheet .item-name {
  margin-right: 5px;
}
* .role-sheet #squads .container.flex-flow .item {
  height: 27px;
}
* .role-sheet .actions-list .label-stripe-gray {
  margin-top: 10px;
}
* #annals input[type="text"] {
  margin-bottom: 10px;
}
* .camp-scenes input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin: 1px 0px 1px 4px;
}
* table.camp-scenes td,
* table.camp-scenes th {
  padding: 1px;
}
* table.camp-scenes tr.high-morale:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2);
}
* table.camp-scenes tr.high-morale:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}
* table.camp-scenes tr.medium-morale:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.3);
}
* table.camp-scenes tr.medium-morale:nth-child(odd) {
   background-color: rgba(0, 0, 0, 0.3);
}
* table.camp-scenes tr.low-morale:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--almost_white);
}
* table.camp-scenes tr.low-morale:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--almost_white);
}
* table.camp-scenes .label-stripe-gray {
  margin-bottom: 1px;
}
* #network-list .item-body,
* #spies-list .item-body {
  justify-content: unset;
}
* #network-list .tooltip,
* #spies-list .tooltip {
  width: 200px;
}
* #spies-list .wound-checkboxes span {
  width: 75px;
  margin-right: 5px;
}
* #network-list .item,
* #spies-list .item {
  margin-bottom: 20px;
}
* #mission-list .label-stripe-gray {
  margin-bottom: 0px;
}
.number-input {
  border: 0;
  display: inline-flex;
}
.number-input,
.number-input * {
  box-sizing: border-box;
}
.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input button.plus {
  margin-right: 10px;
}
/*# sourceMappingURL=bob.css.map */
